{{ define "main" }}
<div class="container">
    <article>
        <h1>{{ .Title }}</h1>
        <div class="meta">
            <time>{{ .Date.Format "2006年1月2日" }}</time>
            {{ if .Params.tags }}
            <div class="tags">
                {{ range .Params.tags }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="tag">{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
            {{ if .Params.readingTime }}
            <span>{{ .Params.readingTime }} 分钟阅读</span>
            {{ end }}
        </div>
        {{ .Content }}
    </article>
</div>
{{ end }}
